@import '../../static/_colors.scss';
@import './_animations.scss';

.techGrid{
  width:60vw;
  max-width:1200px;
  position:relative;
  animation: fadeIn .5s;
  transition: .2s ease-in;
  img{
    width:100%;
    height:auto;
  }
}

.techGrid.content{
  margin:auto;
  box-sizing:border-box;
  padding-top: 2px;
  padding-bottom: 9px;
  position: absolute;
  width: 62%;
  height:100%;
  top: 1%;
  // left: 295px;
  right: 1%;
  bottom:0;
}

.row{
  display: flex;
  justify-content: space-around;
  height:32.5%;
}

.software{
  width:100%;
  flex-direction:column;
}

.logo{
  width:20%;
  height:100%;
  border: solid 2.5px $Dk-Purple;
  display:flex;
  img{
    width:80%;
    margin:auto;
    opacity: 0;
    animation-name: popIn, in;
    animation-duration: .5s, .01s;
    animation-iteration-count: 1,infinite;
  }
}

