@keyframes meetUp{
  0% {
    opacity:0;
    width: 500%;
  }
  80% {
    opacity: 1;
    width: 85%;
  }
  100% {
    width: 100%;
  }
}

@keyframes slideRight{
   0% {
     margin-left: -500%;
     margin-right: 500%
   }
   100% {
     margin-left: initial;
     margin-right: initial;
   }
}

@keyframes slideLeft{
  0% {
    margin-left: 500%;
    margin-right: -500%
  }
  100% {
    margin-left: initial;
    margin-right: initial;
  }
}